CMakeCache.txt
Makefile
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeError.log
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.24.2/CMakeCCompiler.cmake
CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.24.2/CMakeSystem.cmake
CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.o
CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.o
CMakeFiles/PONG.out.dir/build.make
CMakeFiles/PONG.out.dir/cmake_clean.cmake
CMakeFiles/PONG.out.dir/compiler_depend.internal
CMakeFiles/PONG.out.dir/compiler_depend.make
CMakeFiles/PONG.out.dir/compiler_depend.ts
CMakeFiles/PONG.out.dir/depend.make
CMakeFiles/PONG.out.dir/DependInfo.cmake
CMakeFiles/PONG.out.dir/flags.make
CMakeFiles/PONG.out.dir/link.txt
CMakeFiles/PONG.out.dir/progress.make
CMakeFiles/PONG.out.dir/src/main.cpp.o
CMakeFiles/PONG.out.dir/src/main.cpp.o.d
CMakeFiles/PONG.out.dir/src/menu.cpp.o
CMakeFiles/PONG.out.dir/src/menu.cpp.o.d
Nexa Light.otf
.vscode/c_cpp_properties.json
.vscode/settings.json
CMakeFiles/PONG.out.dir/src/ball.cpp.o
CMakeFiles/PONG.out.dir/src/ball.cpp.o.d
CMakeFiles/PONG.out.dir/src/game.cpp.o
CMakeFiles/PONG.out.dir/src/game.cpp.o.d
CMakeFiles/PONG.out.dir/src/player.cpp.o
CMakeFiles/PONG.out.dir/src/player.cpp.o.d
CMakeFiles/PONG.out.dir/src/start.cpp.o
CMakeFiles/PONG.out.dir/src/start.cpp.o.d
